{
  "permissions": {
    "deny": [
      "Read(./ask.md)"
    ],
    "allow": [
      "Write(./**)",
      "Edit(./**)",
      "Bash(pytest:*)"
    ],
    "additionalDirectories": [
      "C:/Users/{{ .username }}/Dropbox/obsidian/Mercury/References/"
    ]
  }
}
