{
  "permissions": {
    "allow": [
      "Write(./**)",
      "Edit(./**)",
      "WebSearch",
      "WebFetch(domain:ar5iv.labs.arxiv.org)"
    ],
    "additionalDirectories": [
      "C:/Users/{{ .username }}/Dropbox/obsidian/Mercury/"
    ]
  }
}
